<div class="header">

	<ul class="desktop-list">
		<li class="logo"><%= link_to (image_tag ('logo.png')), root_path %></li>
		<li class="<%= active_tab_class()%>"></li>
		<li class="<%= active_tab_class()%>"></li>
		<li class="user-avatar" style="margin-top:5px">
			<% if current_user %>
				<div class="collapser" onclick="collapseUserMenu()">
					<% if current_user.image.url %>
						<%= image_tag(current_user.image.url, style: 'padding: 0px 10px') %>
					<% else %>
						<%= image_tag('unimaged-user.jpg', style: 'padding: 0px 10px') %>
					<% end %>
					<%= current_user.name %>
				</div>
				<div class="user-menu">
						<ul>
							<li><%= link_to "meus produtos", users_products_path %></li>
							<li><%= link_to "minhas trocas", users_bids_path %></li>
							<li><%= link_to "informações", users_edit_path %></li>
							<li><%= link_to "sair", destroy_user_session_path, method: :delete %></li>
						</ul>
					</div>
			<% else %>
				<%= link_to "entrar", new_user_session_path %>
			<% end %>
		</li>
	</ul>

	<div class="menu-collapse" onclick="collapseMobileMenu()">
		<%= image_tag('menu-responsive.png') %>
	</div>

	<ul class="mobile-list">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

</div>

<script>
	function collapseMobileMenu()
	{
		list = $(".mobile-list");
		if(list.css("display") == "none")
			$(".mobile-list").slideDown();
		else
			$(".mobile-list").slideUp();
	}

	function collapseUserMenu()
	{
		menu = $('.user-menu')
		if(menu.css("display") == "none")
		{
			menu.slideDown();
		}
		else
		{
			menu.slideUp();
		}
	}

</script>